*{
    background-color:#616161;
}
.res {
    text-align: center;
    color:#6a5acd ;
    text-decoration-line: underline ;
}
h2 {
    text-decoration-line: underline ;
    margin-left: 20px;
    color: #f7f7f7 ;
}